<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libprotobuf-lite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>libprotobuf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>libprotoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>protoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26A99E0AF43E429ABC26B0FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BBB8583F3074923B9BA2376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7742BD5FD56B42289C38464F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DBCA486CE684841BD4F62E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>804DF5E533BB4E47B250744A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3DBA80B37314A13AE32BBCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E77C75465DE440E1A8562F70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
